/*header*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(228, 228, 228);
}

.tm-header {
    background-color: white;
}

.tm-container {
    max-width: 1500px;
    margin: 0px auto;
}

.tm-header::after {
    content: " ";
    display: block;
    clear:both;
    visibility: none;
}

.tm-logo {
    float:left;
}

.tm-nav {
    float:right;
}

.tm-nav ul {
    margin-bottom: 0px;
}

.tm-nav ul li {
    display: inline-block;
}

.tm-nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    line-height: 70px;
    font-weight: bold;
}

.tm-nav ul li a:hover {
    color: blue;
}
/*section and article*/
p, ul {
    font-weight: bold;
}

h1,h2,h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.tm-content {
    max-width: 70%;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
img {
    max-width: 100%;
    display: inline-block;
}

.tm-article {
    padding: 30px;
}

.tm-content {
    background: white;
}
/*footer and aside*/
.clearfix::after {
    content: " ";
    clear:both;
    display: block;
    visibility: none;
}

.tm-footer {
    background: white;
    text-align: center;
    padding: 20px;
}

.tm-sidebar {
    background: white;
    float: right;
    max-width: 25%;
    width: 20%;
    margin-top: 30px;
    padding: 20px;
}

.tm-sidebar ul li a {
    text-decoration: none;
}

.tm-sidebar ul li a:hover {
    color: blue;
}

